<script lang="ts">
export const prerender = true;
import Tree from "$lib/tree/Tree.svelte";
import "../app.css";
import { playlists } from "$lib/stores/allPlaylists";
import { onMount } from "svelte";

type Playlist = {
  id: string;
  name: string;
};
let treeToggled = true;

let toggleTree = () => {
  treeToggled = !treeToggled;
};

$: gridSize = treeToggled ? "grid-cols-3" : "grid-cols-1";

export let allPlaylists: Playlist[];
let playlistArray: any;

onMount(async () => {
  playlists.set(allPlaylists);
});

playlists.subscribe((value) => {
  playlistArray = value;
});
</script>

<button
  class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  on:click="{toggleTree}">
  Toggle Tree
</button>
<div class="container px-4 py-4 grid {gridSize} gap-2">
  {#if treeToggled}
    <Tree playlists="{allPlaylists}" />
  {/if}
  <p>Select a playlist</p>
</div>
