<script lang="ts">
import DataGrid from "$lib/dataGrid/DataGrid.svelte";
import {
  secondaryPaneContent,
  secondaryPaneToggled,
} from "$lib/stores/secondaryWindow";

type Song = {
  id: string;
  title: string;
};
export let primarySongs: Song[];

let copiedPaneContent: any;
let paneToggled: any;

secondaryPaneContent.subscribe((value) => {
  copiedPaneContent = value;
});

secondaryPaneContent.subscribe((value) => {
  paneToggled = value;
});

$: gridSize = $secondaryPaneToggled ? "grid-cols-2" : "grid-cols-1";

// $: secondaryPaneToggled = secondaryPaneStore
const copySongs = () => {
  secondaryPaneContent.set(primarySongs);
};

const resetSongs = () => {
  secondaryPaneContent.set([]);
};

const openPane = () => {
  secondaryPaneToggled.set(true);
  copySongs();
};

const closePane = () => {
  secondaryPaneToggled.set(false);
  resetSongs();
};
</script>

<div class="grid gap-2 {gridSize}">
  <div>
    <button
      class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      on:click="{openPane}"
      >Open in 2nd pane
    </button>
    <DataGrid songs="{primarySongs}" />
  </div>

  {#if $secondaryPaneToggled}
    <div>
      <button
        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        on:click="{closePane}"
        >Close 2nd Pane
      </button>
      <DataGrid songs="{$secondaryPaneContent}" />
    </div>
  {/if}
</div>
