<script lang="ts">
import { page } from "$app/stores";

import Tree from "$lib/tree/Tree.svelte";
import "../../app.css";
import { playlists } from "$lib/stores/allPlaylists";

type Playlist = {
  id: string;
  name: string;
};

let playlistsArray: any;

// export let playlists: Playlist[];
playlists.subscribe((value) => {
  playlistsArray = value;
});

let treeToggled = true;

const toggleTree = () => {
  treeToggled = !treeToggled;
};

$: gridSize = treeToggled ? "grid-cols-3" : "grid-cols-1";
</script>

<button
  class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  on:click="{toggleTree}">
  Toggle Tree
</button>

<div class="container px-4 py-4 grid {gridSize} gap-2">
  {#if treeToggled}
    <div class="col-span-1">
      <Tree secondary="{false}" playlists="{playlistsArray}" />
    </div>
  {/if}
  <div class="col-span-2">
    <main>
      <slot />
    </main>
  </div>
</div>
