<script lang="ts">
import { page } from "$app/stores";

type Playlist = {
  id: string;
  name: string;
};
export let playlists: Playlist[];
const slug = "playlist";
</script>

<div
  class="flex flex-col flex-grow border-r border-gray-200 pb-4 bg-white max-h-screen overflow-y-auto">
  <div class="flex-grow flex flex-col">
    <nav class="flex-1 bg-white space-y-1" aria-label="Sidebar">
      {#each playlists as playlist}
        <a
          sveltekit:prefetch
          href="/{slug}/{playlist.id}"
          class="group flex items-center px-3 py-2 text-sm font-medium border-l-4 hover:bg-gray-50 hover:text-gray-900"
          class:text-indigo-600="{$page.url.pathname ===
            `/${slug}/${playlist.id}`}"
          class:bg-indigo-50="{$page.url.pathname === `/songs/${playlist.id}`}"
          class:border-indigo-600="{$page.url.pathname ===
            `/${slug}/${playlist.id}`}">
          {playlist.name}
        </a>
      {/each}
    </nav>
  </div>
</div>
