<script lang="ts">
import { Grid } from "ag-grid-community";
import type { GridOptions } from "ag-grid-community";

import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles//ag-theme-alpine.css";
import { onMount } from "svelte";
import { updated } from "$app/stores";

type Song = {
  id: string;
  title: string;
};

export let songs: Song[];

let eGridDiv: HTMLElement;

let gridOptions: GridOptions<Song> = {
  columnDefs: [
    { headerName: "ID", field: "id" },
    { headerName: "Title", field: "title", editable: true },
    { headerName: "Path", field: "folder_path", editable: true },
  ],
  rowData: songs,
};

let first = true;

$: updateDataGrid(songs);

const updateDataGrid = (data: Song[]): void => {
  if (!first) {
    gridOptions.api!.setRowData(data);
  }
};

onMount(async () => {
  new Grid(eGridDiv, gridOptions);
  first = false;
});
</script>

<div
  bind:this="{eGridDiv}"
  id="myGrid"
  style="height: 500px; width: 100%"
  class="ag-theme-alpine">
</div>
